<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <style> 
    body {
    font-family: tahoma;
    color:#311b1b;
    margin: 0px;
  }
  
  .nav-bar {
    background: linear-gradient(-90deg, rgb(95, 175, 68), rgb(192, 22, 65));
    height: 60px;
    margin-bottom: 15px;
  }

  .color-red { color:red; }
  .color-blue { color: blue; }
  .color-purple { color: purple; }
  .color-black { color: black; }
  .color-yellow { color: yellow; }
  .color-gray { color: gray; }
  .active{
  background-color: rgb(95, 175, 68);
}
      

  </style>
</head>
<body>  
    <div class="nav-bar"></div>

    <div id="toolBtns">
      <div class="btn-group" role="group" id="toolBtns">
      <button v-for="(btn, index) in buttons" type="button" @click="toggleActiveClass(index)"       
      :class="{active: btn.active}">{{btn.name}}</button>
      </div>
    </div>
      
      
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
       
      
      
      <script>
      
      var vm = new Vue({
	 el: '#toolBtns',
	 data: {
		buttons:[{name:'ToggleMe',active:false,}]
	 },
	 methods: {
    toggleActiveClass:function(index){
      this.buttons[index].active=!this.buttons[index].active;
    }
	  }
 });
 
      
      </script>
    </script>

    </body>
</html>