<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <div class="nav-bar"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<div id="app">
  <h1 class="main-header" :style="{color: clickedColor}">{{ message }}</h1>
  <button v-on:click="colorChange">Click me</button>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    </div>

    <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        clickedColor: 'red', // set the initial value; I used red, so you can see the different states
        alteredState: Array[{1:'green'},{2:'blue'},{3:'yellow'}]
      },
      methods: {
        colorChange: function() {
          console.log(this.alteredState);
    
           if (this.alteredState) {
            this.clickedColor = 'blue'
          } else {
            this.clickedColor = 'green'
          } 
          // this is toggle function, so it's OK to
          // toggle the state every time the button is clicked
          this.alteredState = !this.alteredState
        }
      }
    })
</script>
</body>
</html>